*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%; /* Brede header */
    background: rgb(6, 13, 107); /* Donkerblauwe achtergrond */
    height: 25%;
    color: white;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

body{
    background-color: lightblue;
    height: 100vh;
}

header:hover span {
    color: yellow; /* Verander tekstkleur bij hover */
    text-decoration: underline; 
    cursor: pointer;
}