*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto Condensed", serif;
}


header{
    width: 100%;
    background: rgb(6, 13, 107); 
    height: 15%;
    color: white;
    padding: 2rem 0;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

body{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1{
    font-size: 2rem;
    cursor: pointer;
}

header:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 25px orangered;
    transition: scale(1.1);
    
}

span{
    color: aqua;
    font-size: 2rem;
    cursor: pointer;
}

span:hover{
    color: rgb(25, 77, 234);
    text-shadow: 0 0 25px rgb(0, 26, 255),
                 0 0 25px rgb(0, 26, 255);
    transition: scale(1.1);
    
}

#setup{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
}

input{
    padding: 1rem;
    all: unset;
    background: #ffff;
    padding: 1rem;
    cursor: pointer;
}

select{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 1rem;
    border: blue solid 0.1rem;
    width: 15rem;
    cursor: pointer;
}

#startGame:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 25px orangered;
    transition: scale(1.1);
}

#startGame:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 25px orangered;
    transition: scale(1.1);
}

option{
    font-size: 1.5rem;
    cursor: pointer;
}

#game--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#startGame{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 10rem;
    font-size: 1.5rem;
    padding: 2rem;
    background: rgb(52, 87, 112);
    color: #ffff;
    border: none;
    cursor: pointer;
    transition: 0,3s ease;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}

#startGame:hover{
    background: rgb(92, 182, 241);
}

#startgame:active{
    background:rgb(21, 50, 70);
    
}

.game--screen{
    background: #ffff;
    width: 80%;
    height: 60%;
}

.game--screen{
    display: flex;
    justify-content: center;
}


#leaderboard{
}